.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 0.5em 1em 0.5em;
  font-family: 'Spartan', sans-serif;
  font-size: 24px;
  color: darkgray;
  cursor: default;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 1em 0 0;
}

.header__menu-item {
  display: flex;
  align-items: center;
  padding: 0 1em 0;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  color: darkgray;
}

.header__menu-item:hover {
  background-color: darkslategrey;
  cursor: pointer;
}

.debug-border--red {
  border: red 1px solid;
}

.debug-border--blue {
  border: blue 1px solid;
}

.debug-border--green {
  border: green 1px solid;
}
